/* This is the CSS format for  
MyPhoneFrames-TESTER.css*/

  Body {
    background-color: cyan; 
    font-size: 2em; 
font-size: 200%;    
     }

      #gray-1 {
    position: absolute;
    background-color: silver;  
    color: green;
    font-family:Arial; 
    font-size:14pc;
    font-weight:bold;
    left: 0;  
    margin-right: 8%;      
    top: 0; 
    height: 95%;
    width: 20%;     }

      #red-2 {
     background-color: red;
     position: absolute;
     top: 10%; 
     height: 76%; 
     width: 25%;   
     left: 20%;      
     margin-left: 5%;      
     font-size: LARGER; 
     color: green; }

      #blue-3 {
     position: absolute;
     top: 30%; 
     height: 50%; 
     background-color: blue; 
     right: 0;      
     width: 20%;    
     font-size: 2em; 
     font-color: white; 
    padding: 2%; }


    #purple-4 {
    position: absolute;
     bottom: 25%; 
     height: 33%; 
    background-color: purple;
     right: 23%;      
     width: 20%;
     margin-left: 25%;        
    margin-right: 28%;    

 }

/*  the combined percentages of 
23% from the right EDGE &
a 28% right MARGIN make 
the purple frame overlap
the red frame,  */






/*  The "position: fixed; & " bottom: 0; "
 are the crucial settings for keeping the 
"BottomMenu" frame in place, while the 
"Main" frame moves up and down over it  */
